.header {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;

  &.right {
    padding-bottom: 110px;
  }
}

ion-item {
  cursor: pointer;
}

.inner-container {
  height: 400px;
  overflow: scroll;
  border: 1px solid lightgray;
}

.button-group {
  padding-top: 20px;

  ion-button {
    padding: 0 10px 0 10px;
  }
}

.warning {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  color: lightgray;
}
